<h1>Books</h1>
<button class="button" (click)="routeMain()">Main</button>
<div class="flex">
    <div *ngFor="let book of books" class="book" >
        <strong>Название:</strong><span (click)="details(book.id!)" class="link"> {{book.title}}</span><br>
        <strong>Автор:</strong> {{book.author}}<br>
        <strong>Страниц:</strong> {{book.pagesCount}}<br>
        <strong>Дата:</strong> {{book.publishDate | date:'medium'}}<br>

        <button class="button" (click)="routeUpdate(book.id!)">Update</button>
        <button class="button" (click)="remove(book.id!)">Remove</button>
    </div>
</div>
<button class="button" (click)="routeAdd()">Add</button>
