.button, .buttonUpdate{
    width: 100px;
    height: 30px;
    margin: 10px 10px 10px 0px;
    color: white;
    border: none;
    border-radius: 10px;
}
.button{background-color: #337ab7;}
.buttonUpdate{background-color: #f0ad4e;}
.button:hover, .buttonUpdate:hover{
    cursor: pointer;
}
input{
    padding: 5px;
    margin: 10px 10px 10px 0px;
    width: 250px;
    font-size: 13px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 10px;
}
.categoryId{
    padding: 10px;
    background-color: white; 
    text-align: center; 
    padding-top: 50px; 
    border: 0.1px solid grey; 
    border-radius: 20px;    
    font-size: 24px;
    min-height: 240px; 
    background-image: url("/assets/planet.jpg");
    background-size: 100% 300px;
    background-repeat: no-repeat;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}